<!DOCTYPE html>
<html lang="en" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>TIM-BEAR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!--<link href="\css\estilo.css" rel="stylesheet"/>-->
</head>
<body class="d-flex flex-column h-100">
    <!--Inicio del encabezado y banners-->
    <%- include('header_admin') %>
    <h2 class="my-5">Space</h2>
    <%- include('Banners_default') %>
    <!--Fin del encabezado y banners-->
    <!--Inicio del pie-->
    <%- include('Footer') %>
    <!--Fin del pie-->
</body>
</html>