<!DOCTYPE html>
<html lang="en" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>TIM-BEAR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!--<link href="\css\estilo.css" rel="stylesheet"/>-->
</head>
<body>
    <div class="root">
        <form action="" class="form-register">
            <div class="form-register__header">
                <ul class="progressbar">
                    <li class="progressbar__option active">paso 1</li>
                    <li class="progressbar__option">paso 2</li>
                    <li class="progressbar__option">paso 3</li>
                    <li class="progressbar__option">paso 4</li>
                    <li class="progressbar__option">paso 5</li>
                </ul>
                <h1 class="text-center form-register__title">Registro</h1>
            </div>
            <div class="modal-dialog form-register__body">
                <div class="modal-content step active" id="step-1">
                    <div class="modal-body step__body">
                        <label class="form-label">Nombre:</label>
                        <input type="text" class="form-control step__input">
                        <br>
                        <label class="form-label">Apellidos:</label>
                        <input type="text" class="form-control step__input">
                    </div>
                    <div class="modal-footer step__footer">
                        <button type="button" class="btn btn-success step__button--next"
                        data-to_step="2" data-step="1">Siguiente</button>
                    </div>
                </div>
                <div class="modal-content step" id="step-2">
                    <div class="modal-body step__body">
                        <label class="form-label">DNI:</label>
                        <input type="text" class="form-control step__input">
                        <br>
                        <label class="form-label">Foto:</label>
                        <input type="file" class="step__input">
                    </div>
                    <div class="modal-footer step__footer">
                        <button type="button" class="btn btn-success step__button--back"
                        data-to_step="1" data-step="2">Regresar</button>
                        <button type="button" class="btn btn-success step__button--next"
                        data-to_step="3" data-step="2">Siguiente</button>
                    </div>
                </div>
                <div class="modal-content step" id="step-3">
                    <div class="modal-body step__body">
                        <label class="form-label">Correo electrónico:</label>
                        <input type="text" class="form-control step__input">
                        <br>
                        <label class="form-label">Contraseña:</label>
                        <input type="password" class="form-control step__input">
                        <br>
                        <label class="form-label">Repetir contraseña:</label>
                        <input type="password" class="form-control step__input">
                        <br>
                        <label class="form-label">Teléfono:</label>
                        <input type="text" class="form-control step__input">
                    </div>
                    <div class="modal-footer step__body">
                        <button type="button" class="btn btn-success step__button--back"
                        data-to_step="2" data-step="3">Regresar</button>
                        <button type="button" class="btn btn-success step__button--next"
                        data-to_step="4" data-step="3">Siguiente</button>
                    </div>
                </div>
                <div class="modal-content step" id="step-4">
                    <div class="modal-body step__body">
                        <label class="form-label">Dirección:</label>
                        <input type="text" class="form-control step__input">
                        <br>
                        <label class="form-label">Departamento:</label>
                        <select name="departmento_id" class="form-select">
                            <option value="-1">----- Seleccione una opción -----</option>
                        </select>
                        <br>
                        <label class="form-label">Provincia:</label>
                        <select name="provincia_id" class="form-select">
                            <option value="-1">----- Seleccione una opción -----</option>
                        </select>
                        <br>
                        <label class="form-label">Distrito:</label>
                        <select name="distrito_id" class="form-select">
                            <option value="-1">----- Seleccione una opción -----</option>
                        </select>
                    </div>
                    <div class="modal-footer step__body">
                        <button type="button" class="btn btn-success step__button--back"
                        data-to_step="3" data-step="4">Regresar</button>
                        <button type="button" class="btn btn-success step__button--next"
                        data-to_step="5" data-step="4">Siguiente</button>
                    </div>
                </div>
                <div class="modal-content step" id="step-5">
                    <div class="modal-body step__body">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">PEP</label>
                    </div>
                    <div class="modal-footer step__body">
                        <button type="button" class="btn btn-success step__button--back"
                        data-to_step="4" data-step="5">Regresar</button>
                        <button type="submit" class="btn btn-success step__button">Finalizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>