<div class="card mt-3">
    <div class="text-center card-body">
        Grupo 3 - 2021 - <a href="/nosotros">Nosotros</a> - <a href="/reglas">Reglas</a> - <a href="/terminos">Terminos y condiciones</a> - Universidad de Lima - Programación Web 2021-2
    </div>
</div>