<div class="card mt-3">
    <div class="text-center card-body">
        Grupo 3 - 2021 - <a href="#">Nosotros</a> - <a href="#">Reglas</a> - <a href="#">Terminos y condiciones</a> - Universidad de Lima - Programación Web 2021-2
    </div>
</div>