<header>
    <div>
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">TIM-BEAR</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Partidas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Categorias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Juegos</a>
                  </li>
                </ul>
                <div>
                  <div class="col mb-1">
                    <h3>Bienvenido Nombre</h3>
                  </div>
                  <div class="col mb-1">
                    <h3>Cuenta: Cliente</h3>
                  </div>
                </div>
                <a class="btn btn-success my-4" href="/logout">Cerrar sesion</a>
                <div>
                </div>
              </div>
              </div>
            </div>
          </nav>
    </div>
  </header>