<header>
  <div>
      <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">TIM-BEAR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/partida">Partidas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categorias">Categorias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/juegos">Juegos</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Administrar
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/banner/admin">Banners</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/partida/admin">Partidas</a></li>
                    <li><a class="dropdown-item" href="/categoria/admin">Categorias</a></li>
                    <li><a class="dropdown-item" href="/juego/admin">Juegos</a></li>
                    <li><a class="dropdown-item" href="/cliente/admin">Clientes</a></li>
                  </ul>
                </li>
              </ul>
              <div>
                <div class="col mb-1">
                  <h3>Bienvenido <%=user%></h3>
                </div>
                <div class="col mb-1">
                  <h3>Cuenta: Admin</h3>
                </div>
                <a class="btn btn-success my-4" href="/logout">Cerrar sesion</a>
                <div>

                </div>
              </div>
            </div>
          </div>
        </nav>
  </div>
</header>