<!DOCTYPE html>
<html>
    <head>
        <title>TIM-BEAR</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('header_admin') %>
        <h2 class="my-5">Space</h2>
        <h2 class="mt-5">Formulario Juego</h2>
        <form method="post" action="/juego/new">
            <div>
                <label class="form-label">Nombre:</label>
                <input name="juego_nombre" type="text" class="form-control" />
            </div>
            <div>
                <label class="form-label">Categoria</label>
                <select name="Categoria_juegocategoria_id" class="form-select">
                    <option value="-1">------ Seleccione una opcion ------</option>
                    <option value="1">Categoria 1</option>
                    <option value="2">Categoria 2</option>
                    <option value="3">Categoria 3</option>
                    <option value="4">Categoria 4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success my-3">Guardar</button>
        </form>
        <%- include('Footer') %>
    </body>
</html>