<p>
    Bienvenido a Tim-Bear, un sitio de juegos que se esfuerza por ser justo, personal y transparente. Tim-Bear es un sitio de juegos de azar
     y un software de apuestas deportivas, con más de 200 empleados, la mayoría de ellos trabajando desde nuestra oficina central ubicada en Lima,
      Perú. Tenemos licencias de juego en toda America.
</p>
<p>
    Tim-Bear tiene que ver con el impulso y la innovación, y es por eso que estamos fuertemente enfocados en el desarrollo de productos y en 
    establecer nuevos estándares para el juego responsable. Trabajamos duro todos los días para brindar calidad en nuestros servicios, productos y,
     por supuesto, ejecución.

</p>
<p>
    El nombre Tim-Bear fue elegido por dos razones. En primer lugar, porque es breve e imposible de olvidar. En segundo lugar, porque ese fue el nombre
    que el profe nos pidio que pusieramos en el trabajo xd.

</p>
<p>
    Nuestra gerencia suma más de 90 años de experiencia en el entorno de los juegos de azar online y reúne a personal insuperable en la industria.
    Por eso te entregamos el mejor servicio en todo lo que hacemos.
</p>


