<p>2.1 Abandono de Eventos</p>
<p>     En el caso de que un evento se vea interrumpido se anularán todas las apuestas (las cuotas serán de 1.00 y tantos los combos como los sistemas se recalcularán), a excepción de los siguientes:
</p>
<p>
    1) Apuestas cuyo resultado ya haya sido decidido (como en el caso de que un partido de fútbol se vea interrumpido en la segunda parte, todas las apuestas relativas a la primera parte del partido serán resultadas normalmente), a no ser que se especifique de otra manera en las Reglas Específicas del Deporte.

</p>
<p>
    2) Apuestas para las cuales el organizador publique un resultado oficial antes de que pasen 48H desde la hora de inicio.

</p>
<p>
    3) Apuestas en deportes para los cuales hayamos especificado en las reglas más abajo que existen otras condiciones para el resultado y cancelación de apuestas.

</p>



<p>
En el caso de que a un equipo le haya sido concedida por parte del organizador (por ejemplo, en fútbol 3-0, en baloncesto 20-0) antes o durante el partido, todas las apuestas serán anuladas, a excepción de las siguientes:

Apuestas que ya hayan sido decididas (asimismo si un partido de fútbol es abandonado debido a disturbios durante la segunda parte y se da la victoria a uno de los equipos por parte de los organizadores oficiales, todas las apuestas referentes a la primera parte serán resultadas de forma normal), a no ser que se especifique de otra forma en las Reglas Específicas de los Deportes.

En caso de que todo transcurra con normalidad, con un formato normal, haya un resultado final y a uno de los equipos se le ha otorgado la victoria tras el partido, todas las apuestas seguirán en pie.
</p>

<p>2.2 Cancelaciones</p>
<p>Todas las apuestas relativas a eventos cancelados serán anuladas, el dinero se devolverá a la cuenta de los usuarios participantes. Los combos y sistemas se recalcularán con cuotas de 1.00 en el evento cancelado.

    En el caso de que a un equipo le haya sido concedida por parte del organizador (por ejemplo, en fútbol 3-0, en baloncesto 20-0) antes o durante el partido, todas las apuestas serán anuladas, a excepción de las siguientes:
    
    Apuestas que ya hayan sido decididas (asimismo si un partido de fútbol es abandonado debido a disturbios durante la segunda parte y se da la victoria a uno de los equipos por parte de los organizadores oficiales, todas las apuestas referentes a la primera parte serán resultadas de forma normal), a no ser que se especifique de otra forma en las Reglas Específicas de los Deportes.
    
    En caso de que todo transcurra con normalidad, con un formato normal, haya un resultado final y a uno de los equipos se le ha otorgado la victoria tras el partido, todas las apuestas seguirán en pie.
    
    </p>

<p>2.3 Cambios de lugar del encuentro</p>

<p>Únicamente en el caso de que el campo de juego sea cambiado al campo del anteriormente equipo visitante, todas las apuestas relacionadas serán anuladas. Si el campo se cambia a cualquier otro, todas las apuestas continuarán siendo válidas. Esta regla sólo se aplicará a equipos con un campo de casa.

Deportes individuales: Si el evento cambia de lugar, las apuestan serán nulas.</p>


<p>2.4 Empates (dead heat)</p>

<p>En el caso de que uno o más participantes dentro de una selección de ganadores empaten (por ejemplo, máximo goleador de la liga), las cuotas serán divididas por el número de participantes involucrados en el empate. Sin embargo, las cuotas jamás podrán ser menores que 1.</p>


<p>2.5 Eventos pospuestos</p>

<p>Las apuestas serán declaradas nulas en eventos o partidos que hayan sido pospuestos o cancelados, una vez hayan pasado 48 horas tras la hora de inicio original sin que este haya dado comienzo. Estas reglas no se aplican al tenis, ver las reglas del Tenis más abajo.</p>