<p>
3.1  Béisbol
</p>
<p>
    Tim-Bear ofrece todos los mercados como Acción (sin lista de pitcher). El nombre del pitcher no tiene relevancia a la hora de resultar los mercados.

Los partidos que no hayan comenzado o estén abandonados y no se hayan reanudado dentro de las 12 horas de la hora de inicio programada originalmente, se pospondrán y los mercados se anularán. Todos los mercados incluyen entradas extra a menos que se indique lo contrario.
</p>
<p>
3.2 Baloncesto
</p>
<p>
    Las apuestas se resultarán atendiendo a la puntuación final oficial del partido completo, incluyendo el tiempo extra, a no ser que se especifique de otra manera (ver: Sólo Mercados de Tiempo Regular). La puntuación final del encuentro se determinará únicamente si el partido se completa en su totalidad. Las apuestas que requieran un resultado de tiempo completo serán nulas en caso de abandono del encuentro. Los mercados que no requieran que el partido sea completado en su totalidad podrán ser resultados atendiendo al periodo al que se refieran.
</p>
<p>
3.3 Fútbol
</p>
<p>
    En caso de que el partido amistoso del club haya finalizado antes de que se juegan 2X45 minutos regulares, todas las apuestas se anularán (las probabilidades se establecerán en 1,00, los combos y las apuestas del sistema se volverán a calcular).

Las apuestas que ya se han decidido (por ejemplo, si un partido de fútbol se abandona en la segunda mitad), todas las apuestas relacionadas con la primera mitad de este partido se resolverán de la forma habitual.

Esto también se aplica en los casos en que el árbitro decide terminar el partido antes del formato programado de 2X45 minutos.
</p>
<p>
    Todas las apuestas del Torneo (Goles, Tarjetas, penaltis, etc) se resultarán de acuerdo a las estadísticas oficiales ofrecidas por el organismo sancionador. Todas las apuestas incluyen tiempo extra pero no las tandas de penaltis.
</p>
<p>
3.4 Hoockey
</p>
<p>
    Los marcados que incluyen tiempo extra también incluyen penaltis. Los mercados que incluyan tiempo extra serán resultados por Tim-Bear añadiendo un solo gol al equipo que gane los penaltis.
</p>
<p>
3.5 Voleibol
</p>
<p>
    En el caso de que un outright no se complete, el equipo que avance a la siguiente ronda será el ganador.
</p>
<p>
