<p>Para Cobrar Anticipadamente una apuesta se ha de seleccionar la opción en el boleto y hacer clic en confirmar. No se puede cancelar esta opción una vez confirmada.
</p>
<p>
Los pagos de los Cobros Anticipados se harán al momento, sin embargo, podrán darse retrasos.
</p>
<p>
Tim-Bear se reserva el derecho a retirar o suspender la función de Cobro Anticipado a sus usuarios sin notificación previa, y no se hace responsable de imágenes promocionales, mensajes, anuncios en redes sociales o cualquier otra publicidad hecha mientras la función no está disponible.
</p>
<p>
El Cobro Anticipado puede ser retirado o suspendido sin notificación previa debido a decisiones internas hechas por Tim-Bear o por razones de causa mayor, incluyendo, pero sin que se limiten a: problemas técnicos, cambios drásticos de cuotas/líneas, eventos que supongan un riesgo, decisiones hechas en base a la administración del riesgo, sospecha o especulación por los usuarios.
</p>
<p>
Tim-Bear no toma responsabilidad en el caso de que un usuario haga una puesta con intención de cobrarla anticipadamente después, ya que la función podrá estar deshabilitada a entera disposición de Tim-Bear o por razones de causa mayor. Tim-Bear no promueve que los usuarios hagan apuestas con intención de cobrarlas anticipadamente después.
</p>
<p>
Tim-Bear se reserva el derecho, a su entera discreción, a anular la apuesta inicial que se Cobró Anticipadamente, negarse a permitir un Cobro Anticipado, o requerir un repago de cantidades pagadas por Tim-Bear respecto de una apuesta (incluyendo la cantidad del Cobro Anticipado) 
</p>