<p>
    1.1 Tiempo reglamentario
</p>
<p>
    A no ser que se especifique bajo Eventos & Tipos de Mercado y/o bajo las Reglas Específicas de cada Deporte, tan sólo contará el resultado al finalizar el tiempo reglamentario. El tiempo reglamentario incluye el tiempo completo y el tiempo adicional debido a lesiones, sustituciones, etc. El tiempo extra, la muerte súbita, etc no se incluye en el tiempo reglamentario.
    
    El tiempo reglamentario está definido por las reglas publicadas por las respectivas asociaciones de gobierno. Tim-Bear no tiene la responsabilidad de informar a los clientes en caso de que un partido u evento tenga una duración diferente a la normal.
    
    Tim-Bear no anulará ninguna apuesta, incluyendo apuestas en vivo, cuando un partido u evento sea jugado en formato 2x40 en vez de 2x45.
</p>
<p>
    1.2 Resultado Oficial
</p>
<p>
    De no especificarse nada en estas reglas, el resultado oficial de los organizadores determinará el resultado.

De no haber una lista de resultados oficial al finalizar la ceremonia de entrega de medallas, cuando sea aplicable, será esta ceremonia la que determine el resultado.

Las descalificaciones o cualquier otra alteración tras los resultados oficiales y/o entrega de medallas utilizada para resultar los eventos/juegos, no contarán. Esto incluye; denuncias, apelaciones, resultados de test de doping, o cualquier otra razón.

En caso de que a un equipo se le haya concedido la victoria por parte del organizador oficial (por ejemplo, en fútbol 3-0, en baloncesto 20-0) antes o tras el partido, se anularán todas las apuestas, con las siguientes excepciones:

Apuestas que ya hayan sido decididas (asimismo si un partido de fútbol es abandonado debido a disturbios durante la segunda parte y se da la victoria a uno de los equipos por parte de los organizadores oficiales, todas las apuestas referentes a la primera parte serán resultadas de forma normal), a no ser que se especifique de otra forma en las Reglas Específicas de los Deportes.

En caso de que todo transcurra con normalidad, con un formato normal, haya un resultado final y a uno de los equipos se le ha otorgado la victoria tras el partido, todas las apuestas seguirán en pie.

En caso que la gerencia o el patrocinador cambien, antes o durante un torneo, y este cambio solo afecte el nombre del equipo y no su alineación, todas las apuestas serán válidas. En caso de que la mayoría de la lista del equipo cambie (al menos 51%), todas las apuestas serán anuladas.

</p>
<p>
    1.3 Las apuestas en quienes no participen en la alineación de salida no serán refundadas a no ser que se especifique de otra manera.

</p>  
<p>
    1.4 Tim-Bear se reserva el derecho a rechazar peticiones de ciertas cuentas, a rechazar apuestas, o a limitar la cuantía de las apuestas; sin obligación de dar razón alguna.

</p>  
<p>
    1.5 Tim-Bear se reserva el derecho a rastrear cuentas dobles y finalizar las mismas. De darse este caso toda la información relevante será transferida a la cuenta más activa de cliente respectivo. De descubrirse que un cliente tenga más de una cuenta y haya hecho apuestas idénticas con ambas cuentas, el cliente verá instantáneamente sus privilegios revocados, lo que podrá resultar en la confiscación de las ganancias y/o cancelación de todas las apuestas (incluso las que ya hayan sido decididas).

</p>  
<p>
    1.6 Tim-Bear no acepta apuestas de clientes que actúen en acuerdo, o como un sindicato. Hacer apuestas idénticas desde más de una cuenta, o con la misma IP, será considerado como sindicato, incluso aunque los límites de apuesta personales no hayan sido alcanzados. Las apuestas sindicadas se consideran un fraude y pueden conllevar una reducción de los límites de apuesta de los clientes, cierres de cuenta, confiscación de ganancias y/o cancelación de todas las apuestas (incluso las ya decididas). También podrá considerarse la toma de acciones legales.

</p>  
<p>
    1.7 Tim-Bear no asume responsabilidad por errores transmitidos de los resultados y los datos de apuestas. No se podrán reclamar daños de ninguna manera a causa de incorrecciones, retrasos, manipulaciones o abusos de transferencia de datos de internet o por cualquier otro error de transmisión de datos y resultados.

</p>  
<p>
    1.8 Tim-Bear tiene el derecho, a su total discreción, de corregir cualquier error palpable y tomar las medidas necesarias para proporcionar a sus clientes un servicio justo. Un error palpable se considera como cualquier incorrección de información publicada en referencia a un evento. Por ejemplo, hándicaps publicados incorrectamente (al revés), equipo/equipos/participantes incorrectos, fechas límite incorrectas o errores técnicos, etc.

</p>  
<p>
    1.9 Tim-Bear se reserva el derecho de corregir errores obvios en la publicación de cuotas de apuesta y/o evaluación de resultados de las apuestas incluso tras el evento – o a declarar apuestas afectadas y Cash Out’s como nulas. Es responsabilidad de los usuarios el asegurarse de hacer sus apuestas correctamente.

</p>  
<p>
    1.10 No se permite hacer apuestas correlacionadas en el mismo cupón. Estas apuestas podrán ser anuladas incluso tras saberse el resultado del evento.

</p>  
<p>
    1.11 Los usuarios son los responsables de mantener en estricta confidencialidad los detalles personales y de acceso de la cuenta. Tim-Bear no será responsable de apuestas hechas por terceros que hayan accedido a dicha información o cualquier otra función de la cuenta por negligencia del usuario.

</p>  
<p>
    1.12 Será responsabilidad de los usuarios el reportar inmediatamente cualquier cantidad erróneamente concedida a su cuenta. Todas las ganancias procedentes de este tipo de error serán inválidas, cualesquiera que sean las circunstancias bajo las que hayan ocurrido.

</p>  
<p>
    1.13 Normalmente será posible apostas hasta la hora de inicio de los eventos. A veces los eventos comenzarán antes de la hora publicada, sin Tim-Bear tener conocimiento de este hecho, o que Tim-Bear tenga una hora de inicio errónea. Toda apuesta hecha tras la hora de inicio real será cancelada.

</p>  
<p>
    1.14 La cantidad mínima por apuesta es de 1 sol. Las ganancias máximas diarias están limitadas por apuesta, día & semana.
</p>  
