<p>
    En estos términos y condiciones, a menos que el contexto establezca lo contrario, las siguientes expresiones tienen los siguientes significados:
    
    Los "Juegos" son Deportes, Deportes Virtuales, Póquer y otros juegos que pueden estar disponibles de vez en cuando en el sitio web.
    
    "Cuenta de Miembro" es una cuenta abierta por Usted en el Sitio web después de aceptar los Términos y Condiciones.
    
    "T y C" son estos términos y condiciones, cualquier regla específica para Juegos individuales y otros términos y condiciones proporcionados por el Operador en el sitio web o que le hayan sido comunicados a Usted en relación con los Juegos y / o el Sitio web según las enmiendas realizadas por el Operador de vez en cuando.
    
    "Sitio web" es el sitio web disponible en la URL http://www.Tim-Bear.com y / u otras URL relacionadas operadas por el Operador.
    
    "Usted" o "Usuario" o "Cliente" es usted mismo o cualquier otra persona que, después de leer estos Términos y Condiciones, abra una Cuenta de Miembro o haga uso del Sitio web de cualquier manera.
    
</p>
<p>
    1. Estos Términos y Condiciones se aplican a su uso de los Juegos y el Sitio web a través de Internet, teléfono móvil o cualquier otra plataforma.

</p>
<p>
    2. El Sitio web y los Juegos son ofrecidos por el Operador.

</p>
<p>
    3. Estos T y C constituyen un acuerdo vinculante entre usted y el Operador. Usted ingresa al acuerdo al registrarse con el Operador (consulte el Capítulo 2 a continuación).

</p>
<p>
    4. Estamos autorizados y regulados en Malta por la Malta Gaming Authority (MGA). Este sitio funciona bajo las siguientes licencias otorgadas por la MGA: MGA / B2C / 681/2019 emitida el 6 de abril de 2020. Estos Términos y Condiciones entrarán en vigor tan pronto como haga clic en el botón CREAR CUENTAˈ para registrar su Cuenta de Miembro, al hacerlo, le indica al Operador que ha leído estos Términos y Condiciones y los ha aceptado. Al acceder a cualquier parte del sitio web, usted declara que está de acuerdo con estos Términos y Condiciones.

</p>
<p>
    5. Debe leer estos T y C detenidamente en su totalidad antes de hacer clic en el botón 'Registrar'. Si no está de acuerdo con alguna de las disposiciones de estos T y C, no debe usar o continuar usando el sitio web.
 
</p>
<p>
    6. Debe comprender completamente y aceptar regirse por los términos y condiciones que figuran en este documento y que podremos modificarlos de vez en cuando.

</p>
<p>
    7. El Operador se reserva el derecho de modificar estos T y C y, por lo tanto, enmendar este acuerdo entre Usted y el Operador en cualquier momento con o sin previo aviso, incluidos, entre otros, los propósitos de prevención de fraude, la aclaración de los T y C o hacer que los mismos cumplan con los requisitos legales o con respecto a cambios en Juegos y bonificaciones o en el evento donde el organizador ha cambiado las reglas de los partidos / eventos deportivos. Siempre que dicha modificación limite sus derechos actuales o pueda ser de otro modo en su detrimento, se lo notificaremos antes de que dichos cambios entren en vigencia. Si no está de acuerdo con los T y C actualizados, debe dejar de usar el Sitio web.
 
</p>
<p>
    8. Dichas modificaciones entrarán en vigencia inmediatamente después de su publicación en el Sitio web. Es de su exclusiva responsabilidad revisar este Acuerdo, junto con las reglas específicas para cada Juego en el que elija participar, con el fin de mantenerse al tanto de todas las enmiendas cada vez que juegue. Puede identificar fácilmente si estos T y C han cambiado refiriéndose al número de versión y la fecha de los T y C actuales indicados en esta página.

</p>
<p>
    9. Las reglas y explicaciones para participar en cualquiera de los Juegos del Operador, mantener su cuenta con el Operador, la Política de Privacidad y otra información importante se proporcionan en enlaces separados en el sitio web y se considerarán parte integrante de estos T y C.

</p>
<p>
    10. Cualquier referencia a los Juegos en este acuerdo se referirá al Casino, Casino en vivo, Deportes, Deportes Virtuales, Póquer y otros Juegos a medida que estén disponibles en el Sitio web. El Operador se reserva el derecho de agregar y eliminar Juegos del Sitio web a su entera discreción.

</p>
<p>
    11. Estos T y C se publican en varios idiomas con fines informativos y de fácil acceso para los jugadores. Solo la versión en inglés es la base legal de la relación entre Usted y el Operador y, en caso de cualquier discrepancia entre la versión en inglés y la versión en otro idioma de estos T y C, prevalecerá la versión en inglés.
   
</p>
<p>
    12. Si abre o intenta abrir más de una cuenta, por cualquier motivo, el Operador puede bloquear o cerrar una o todas sus cuentas a su discreción. Si el Operador decide dejar una cuenta abierta, será la primera cuenta que Usted abrió con el Operador, a la que se transferirán los depósitos restantes, si los hubiera. El Operador deducirá un cargo administrativo del 10% (mínimo de 30 EUR) por cada otra cuenta que Usted haya abierto, así como cualquier otra deducción que pueda aplicarse de acuerdo con nuestros Términos y Condiciones.

</p>
<p>
    13. Tim-Bear no está obligado a pagar ninguna ganancia a un Jugador que se haya aprovechado de cualquier falla del sistema o error del programa. En el caso de un error de programa, el Jugador puede tener derecho a una compensación, que se considerará caso por caso. Si se retira o se desconecta de Internet durante una ronda de juego activa, su apuesta sigue siendo válida. Todas las ganancias posibles se ven afectadas en su cuenta.
</p>











